.site-wrapper{
  width: 800px;
  margin: 20px auto;
  position: relative; /* relevant to position .insight absolutely */
  background: #EDF0F3;
  padding: 10px;
}

img{
  width: 100%;
  border-radius: 5px;
  margin: 20px 0; /* margin top and bottom set to 20px */
}

h1{
  margin: 0;
}

section > h1 {
  font-size: 15px;
  text-transform: uppercase;
}

section{
  padding: 10px 10px 0; /* padding 10px to the top, left, and right but no bottom */
}

footer{
  text-align: center;
}

.insight{
  position: absolute;
  top: 139px;
  right: 50px;
  background: rgba(255,255,255,.2);
  border-radius: 4px;
  padding: 10px;
}

.relatedRecipes{
  float: right; /* section move to right and next section goes left to it when enough space */
}